<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h3>
    Welcome to {{ title }}!
    </h3>
</div>
<router-outlet></router-outlet>
<app-course></app-course>
<input type="text" appInputFormat [format]="uppercase" placeholder="Custome Directive"><br>
<favorite [is-fav]="post.isFav" (change)="onFavoriteChange($event)"></favorite>
<bootstrap-panel>
  <div class="heading">This is heading</div>
  <div class="body">
    <h2>This is Body</h2>
    <p>with some text...</p>
  </div>
</bootstrap-panel>
<heart-like></heart-like>
